*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(../img/bgimg.png);
}

div{
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 30%;
    margin: auto;
}

h1{
    font-size: 5vw;
    margin-top: 2px;
}

a.h{
    text-decoration: none;
    color: #000;
}

a.p{
    color: #666;
    text-decoration: none;
    font-size: 2vw;
}

a.p:hover{
    border-bottom: #666 solid 2px;
}